img {
  width: 300px;
  height: 300px;
}
body{

  background-color: rgba(192, 13, 192, 0.87);

}
.caranimleft  {
  width: 500px;
  height: 500px;
  
  position: absolute;
  animation-name: animleft;
  animation-delay: 0.3s;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;



}
.caranimright{
  
  width: 500px;
  height: 500px;
  
  position: absolute;
  animation-name: animright;
  animation-delay: 0.3s;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes animleft {
  0% {
    left: 0px;

  }
  50%{
    left: 500px;
    
  }
  100%{
    left: 1000px;
  }



  

  
}
@keyframes animright{
  0%{
    right: 0px;

  }
  50%{
    right: 500px;
    opacity: 0.5;

  }
  100%{
    right:1000px ;
  }
}