img {
  width: 300px;
  height: 300px;
}

body{

  background-color:  rgba(192, 13, 192, 0.87);

}
.caranimleft  {
  width: 300px;
  height: 300px;
  
  position: absolute;
  animation-name: animleft;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  



}
.caranimright{
  
  width: 300px;
  height: 300px;
  
  position: absolute;
  animation-name: animright;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  
 

}
.yellow-ballanim{
  width: 300px;
  height: 300px;
  position: absolute;
  animation-name: yellow-ballanim;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
.blue-ballanim{
  width: 300px;
  height: 300px;
  position: absolute;
  animation-name: blue-ballanim;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes animleft {
  from{
    top: 200px;
    left: 0px;

  }
  to{
    top: 200px;

    left: 1200px;
  }
 
}
@keyframes animright{
  from{
    right: 0px;

  }
  to{
    right: 1200px;
  }
  
  
}

@keyframes yellow-ballanim{
  from{
    top: 500px;
    right: 500px;

  }
  to{
    top: 10px;
    right: 120px;
    
  }
  
  
}
@keyframes blue-ballanim{
  from{
    top: 500px;
    left: 500px;

  }
  to{
    top: 10px;
    left: 120px;
    
  }
  
  
}